* {
    box-sizing: border-box;
}

/* body * {
    border-style: solid;
    border-width: thin;
} */
 
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

body * {
    font-family: 'VT323';
    background-color: white;
}

.calculator, .screen {
    border-style: solid;
}
.calculator {
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: darkred;
    border-radius: 10px;
}

.calculator > div {
    flex: 1 1 auto;
    display: flex;
}

.screen {
    height: 20%;
    flex-direction: column;
    margin: 8px;
    
}

.screen, .screen * {
    border-radius: 5px;
}

.screen * {
    background-color: lightcyan;
}

.screen > div {
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: 800;
}

.screen > .screen-digits {
    height: 80%;
    width: 100%;
    font-size: xxx-large;
}

.screen-digits > span, .screen-operations {
    white-space: nowrap;
    padding-right: 3%;
}

.screen > .screen-operations {
    height: 20%;
    width: 100%;
    padding-bottom: 20px;
    font-size: xx-large;
}

.buttons {
    height: 80%;
    margin: 0px 8px 8px 8px;
    background-color: #303030;
}

.buttons * {
    font-size: xxx-large;
    font-weight: 800;
}

.buttons button:hover {
    background-color: gray;
    color: white;
    border-color: white;
}

.buttons button {
    border-radius: 7px;
}

.buttons > div {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    background-color: darkred;
}

.digits {
    margin-right: 4px;
}

.digits > button {
    width: 31%;
}

.operations > button {
    width: 45%;
    background-color: darkblue;
    color: lightgray;
}